@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide-infinite {
  0% {
      transform: translateX(0%);
  }
  100% {
      transform: translateX(-50%);
  }
}

.animate-slide-infinite {
  animation: slide-infinite 20s linear infinite;
}
